In [1]:
import pandas as pd

df = pd.read_csv('data/homicide-data.csv', encoding = 'ISO-8859-1')
df['victim_age'] = pd.to_numeric(df['victim_age'], errors='coerce')

print("Информация о первых 5 пассажирах:")
df.head(5)

Информация о первых 5 пассажирах:

,uid,reported_date,victim_last,victim_first,victim_race,victim_age,victim_sex,city,state,lat,lon,disposition
0,Alb-000001,20100504,GARCIA,JUAN,Hispanic,78.0,Male,Albuquerque,NM,35.095788,-106.538555,Closed without arrest
1,Alb-000002,20100216,MONTOYA,CAMERON,Hispanic,17.0,Male,Albuquerque,NM,35.056810,-106.715321,Closed by arrest
2,Alb-000003,20100601,SATTERFIELD,VIVIANA,White,15.0,Female,Albuquerque,NM,35.086092,-106.695568,Closed without arrest
3,Alb-000004,20100101,MENDIOLA,CARLOS,Hispanic,32.0,Male,Albuquerque,NM,35.078493,-106.556094,Closed by arrest
4,Alb-000005,20100102,MULA,VIVIAN,White,72.0,Female,Albuquerque,NM,35.130357,-106.580986,Closed without arrest

In [2]:
print("Информация о всех пассажирах, кроме последних двух:")
df[:-2]

Информация о всех пассажирах, кроме последних двух:

,uid,reported_date,victim_last,victim_first,victim_race,victim_age,victim_sex,city,state,lat,lon,disposition
0,Alb-000001,20100504,GARCIA,JUAN,Hispanic,78.0,Male,Albuquerque,NM,35.095788,-106.538555,Closed without arrest
1,Alb-000002,20100216,MONTOYA,CAMERON,Hispanic,17.0,Male,Albuquerque,NM,35.056810,-106.715321,Closed by arrest
2,Alb-000003,20100601,SATTERFIELD,VIVIANA,White,15.0,Female,Albuquerque,NM,35.086092,-106.695568,Closed without arrest
3,Alb-000004,20100101,MENDIOLA,CARLOS,Hispanic,32.0,Male,Albuquerque,NM,35.078493,-106.556094,Closed by arrest
4,Alb-000005,20100102,MULA,VIVIAN,White,72.0,Female,Albuquerque,NM,35.130357,-106.580986,Closed without arrest
...,...,...,...,...,...,...,...,...,...,...,...,...
52172,Was-001378,20160415,IVEY,PAUL,Black,37.0,Male,Washington,DC,38.826458,-77.003590,Closed by arrest
52173,Was-001379,20160715,HARRIS,SHAROD,Black,20.0,Male,Washington,DC,38.827266,-77.001572,Open/No arrest
52174,Was-001380,20160908,WILLIAMS,EVAN,Black,29.0,Male,Washington,DC,38.828704,-77.002075,Closed by arrest
52175,Was-001381,20160913,SMITH,DEON,Black,19.0,Male,Washington,DC,38.822852,-77.001725,Open/No arrest
52176,Was-001382,20161114,WASHINGTON,WILLIE,Black,23.0,Male,Washington,DC,38.828025,-77.002511,Open/No arrest

In [3]:
print("Информация о пассажирах с 3 по 15:")
df[2:15]

Информация о пассажирах с 3 по 15:

,uid,reported_date,victim_last,victim_first,victim_race,victim_age,victim_sex,city,state,lat,lon,disposition
2,Alb-000003,20100601,SATTERFIELD,VIVIANA,White,15.0,Female,Albuquerque,NM,35.086092,-106.695568,Closed without arrest
3,Alb-000004,20100101,MENDIOLA,CARLOS,Hispanic,32.0,Male,Albuquerque,NM,35.078493,-106.556094,Closed by arrest
4,Alb-000005,20100102,MULA,VIVIAN,White,72.0,Female,Albuquerque,NM,35.130357,-106.580986,Closed without arrest
5,Alb-000006,20100126,BOOK,GERALDINE,White,91.0,Female,Albuquerque,NM,35.151110,-106.537797,Open/No arrest
6,Alb-000007,20100127,MALDONADO,DAVID,Hispanic,52.0,Male,Albuquerque,NM,35.111785,-106.712614,Closed by arrest
7,Alb-000008,20100127,MALDONADO,CONNIE,Hispanic,52.0,Female,Albuquerque,NM,35.111785,-106.712614,Closed by arrest
8,Alb-000009,20100130,MARTIN-LEYVA,GUSTAVO,White,56.0,Male,Albuquerque,NM,35.075380,-106.553458,Open/No arrest
9,Alb-000010,20100210,HERRERA,ISRAEL,Hispanic,43.0,Male,Albuquerque,NM,35.065930,-106.572288,Open/No arrest
10,Alb-000011,20100212,BARRIUS-CAMPANIONI,HECTOR,Hispanic,20.0,Male,Albuquerque,NM,35.077375,-106.560569,Closed by arrest
11,Alb-000012,20100218,LUJAN,KEVIN,White,NaN,Male,Albuquerque,NM,35.077011,-106.564910,Closed without arrest
12,Alb-000013,20100222,COLLAMORE,JOHN,Hispanic,46.0,Male,Albuquerque,NM,35.064076,-106.608281,Open/No arrest
13,Alb-000014,20100306,CHIQUITO,CORIN,Other,16.0,Male,Albuquerque,NM,35.041491,-106.742147,Closed by arrest
14,Alb-000015,20100308,TORRES,HECTOR,Hispanic,54.0,Male,Albuquerque,NM,35.070656,-106.615845,Closed by arrest

In [4]:
# Средний возраст, максимальный и минимальный

average_age = df['victim_age'].mean()
max_age = df['victim_age'].max()
min_age = df['victim_age'].min()
print(f'Средний возраст: {average_age:.1f} лет')
print(f'Максимальный возраст: {max_age:.1f} лет')
print(f'Минимальный возраст: {min_age:.1f} лет')

Средний возраст: 31.8 лет
Максимальный возраст: 102.0 лет
Минимальный возраст: 0.0 лет

In [5]:
# Количество женщин и мужчин
female_count = df[df['victim_sex'] == 'Female'].shape[0]
male_count = df[df['victim_sex'] == 'Male'].shape[0]
print(f'Количество женщин: {female_count}')
print(f'Количество мужчин: {male_count}')

Количество женщин: 7209
Количество мужчин: 40739

In [6]:
# Количество женщин старше 18 лет
female_over_18_count = df[(df['victim_sex'] == 'Female') & (df['victim_age'] > 18)].shape[0]
print(f'Количество женщин старше 18 лет: {female_over_18_count}')

Количество женщин старше 18 лет: 5977

In [7]:
# Количество мужчин, которые были в первом классе (disposition == Closed by arrest)
first_class_male_count = df[(df['disposition'] == 'Closed by arrest') & (df['victim_sex'] == 'Male')].shape[0]
print(f'Количество мужчин в первом классе: {first_class_male_count}')

Количество мужчин в первом классе: 19092

In [8]:
sorted_ascending = df.sort_values(by='victim_age', ascending=True)
sorted_descending = df.sort_values(by='victim_age', ascending=False)
print("Сортировка по возрасту по возрастанию:")
sorted_ascending

Сортировка по возрасту по возрастанию:

,uid,reported_date,victim_last,victim_first,victim_race,victim_age,victim_sex,city,state,lat,lon,disposition
23611,Ind-000423,20110103,SHUAI,ANGEL,Asian,0.0,Female,Indianapolis,IN,39.912849,-86.077657,Closed by arrest
28530,Lon-000625,20150104,DELACRUZ,ELIZA,Hispanic,0.0,Female,Long Beach,CA,33.848789,-118.195924,Closed by arrest
50925,Was-000094,20150814,SMITH,ROBERT,Black,0.0,Male,Washington,DC,38.936985,-77.025096,Closed by arrest
44526,Pit-000563,20071115,JACKSON,DANIYAH,Black,0.0,Female,Pittsburgh,PA,40.460541,-79.987233,Closed by arrest
22700,Hou-004237,20160425,ROBINSON,BRIELLE,Black,0.0,Female,Houston,TX,29.711726,-95.309567,Closed by arrest
...,...,...,...,...,...,...,...,...,...,...,...,...
50707,Tul-000657,20141202,KISSEL,TED,Other,NaN,Male,Tulsa,OK,36.152726,-95.916817,Closed by arrest
50803,Tul-000762,20160828,DOE,JANE,Other,NaN,Female,Tulsa,OK,36.235122,-95.918309,Open/No arrest
50814,Tul-000774,20161012,FLORES,WILMER,Hispanic,NaN,Male,Tulsa,OK,36.206070,-95.905311,Closed by arrest
50815,Tul-000775,20161015,BROWN,TERRY,White,NaN,Male,Tulsa,OK,36.119470,-95.826020,Closed by arrest
51698,Was-000893,20080310,SAGASTIZADO,HUGO,Hispanic,NaN,Male,Washington,DC,38.935580,-77.022633,Open/No arrest

In [9]:
print("Сортировка по возрасту по убыванию:")
sorted_descending

Сортировка по возрасту по убыванию:

,uid,reported_date,victim_last,victim_first,victim_race,victim_age,victim_sex,city,state,lat,lon,disposition
50034,Sto-000448,20161007,Unknown,Unknown,Black,102.0,Male,Stockton,CA,37.923681,-121.316915,Closed by arrest
524,Atl-000902,20080202,RAMEY,BEN,Black,101.0,Male,Atlanta,GA,33.755125,-84.375137,Closed by arrest
36399,NO-000438,20120223,BRIER,LEON,Black,99.0,Male,New Orleans,LA,29.983140,-90.076672,Open/No arrest
4026,Bal-700191,20170721,TATE,WADDELL,Black,97.0,Male,Baltimore,MD,39.314552,-76.593272,Open/No arrest
38808,Oak-000783,20090511,LETT,IVARENE,Black,97.0,Female,Oakland,CA,37.811889,-122.256068,Open/No arrest
...,...,...,...,...,...,...,...,...,...,...,...,...
50707,Tul-000657,20141202,KISSEL,TED,Other,NaN,Male,Tulsa,OK,36.152726,-95.916817,Closed by arrest
50803,Tul-000762,20160828,DOE,JANE,Other,NaN,Female,Tulsa,OK,36.235122,-95.918309,Open/No arrest
50814,Tul-000774,20161012,FLORES,WILMER,Hispanic,NaN,Male,Tulsa,OK,36.206070,-95.905311,Closed by arrest
50815,Tul-000775,20161015,BROWN,TERRY,White,NaN,Male,Tulsa,OK,36.119470,-95.826020,Closed by arrest
51698,Was-000893,20080310,SAGASTIZADO,HUGO,Hispanic,NaN,Male,Washington,DC,38.935580,-77.022633,Open/No arrest